@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IE+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 80%;
  margin: auto;
}

/* 
Used for fade in transition 
Ex. In a property we can set 
animation : fadeIn 3s
which will fade that property in over 3 seconds
*/
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100%{
    opacity: 1;
  }
}